name: Dev Build

on:
  push:
    branches:
      - dev

permissions:
  contents: read
  actions: write

jobs:
  dev-build:
    uses: carr-james/eurorack-workflows/.github/workflows/kicad-dev-build.yml@main
    with:
      project-name: 'Quad VCA Mixer'
      boards: |
        [
          {
            "name": "control-board",
            "kibot_config": ".kibot/jlcpcb.kibot.yaml",
            "pcb_path": "hardware/control-board/control-board.kicad_pcb",
            "sch_path": "hardware/control-board/control-board.kicad_sch"
          },
          {
            "name": "middle-board",
            "kibot_config": ".kibot/jlcpcb-4layer.kibot.yaml",
            "pcb_path": "hardware/middle-board/middle-board.kicad_pcb",
            "sch_path": "hardware/middle-board/middle-board.kicad_sch"
          },
          {
            "name": "bottom-board",
            "kibot_config": ".kibot/jlcpcb.kibot.yaml",
            "pcb_path": "hardware/bottom-board/bottom-board.kicad_pcb",
            "sch_path": "hardware/bottom-board/bottom-board.kicad_sch"
          }
        ]
      skip-checks: 'erc,drc'